html, body, h1, h2, h3, h4, h5, h6, div {
      padding: 0;
      border: 0;
      margin: 0;
    }

.page-header {
  background-color: #b5d7f4;
  margin-top: 0;
  padding: 20px, 20px, 20px, 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    margin-left: 20px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    font-size: 12pt;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

.date {
    color: #828282;
    margin-bottom: 50px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 30px;
}

.post h1 a, .post h1 a:visited {
    color: black;
    margin-bottom: 50px;
}
